In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy import stats
from pandas import DataFrame as df
from pandas import Series as se
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')

In [9]:
df1=pd.read_csv('pima-indians-diabetes.data')
df1.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       767 non-null    int64
 1   148     767 non-null    int64
 2   72      767 non-null    int64
 3   35      767 non-null    int64
 4   0       767 non-null    int64
 5   33.6    767 non-null    float64
 6   0.627   767 non-null    float64
 7   50      767 non-null    int64
 8   1       767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
df1.shape

(767, 9)

In [5]:
df1.describe()

,6,148,72,35,0,33.6,0.627,50,1
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,120.859192,69.101695,20.517601,79.903520,31.990482,0.471674,33.219035,0.348110
std,3.370877,31.978468,19.368155,15.954059,115.283105,7.889091,0.331497,11.752296,0.476682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.500000,36.600000,0.625000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df1['Outcome'].value_counts()

KeyError: 'Outcome'

In [ ]:
y=df1['Outcome']
X=df1.drop('Outcome',axis=1)

In [ ]:
for i in X:
    sns.boxplot(df1[i])
    plt.show()

In [ ]:
q1=df1.quantile(.25)
q3=df1.quantile(.75)
iqr=q3-q1
X=X[~(X>q3+(1.5*iqr))]

In [ ]:
for i in X:
    sns.boxplot(X[i])
    plt.show()

In [ ]:
from sklearn.model_selection import RandomizedSearchCV,train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score,roc_curve
from scipy import stats
import statsmodels.api as sm
from scipy.stats import randint as sp_randint

In [ ]:
y=df1['Outcome']
X=df1.drop('Outcome',axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xs=ss.fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA
pca=PCA()
pca.fit(Xs)

In [ ]:
pca.explained_variance_

In [ ]:
np.cumsum(pca.explained_variance_ratio_)

In [ ]:
pca=PCA(n_components=7)
pca.fit(Xs)
X_pca=pca.transform(Xs)
X_pca.shape

In [ ]:
pca_df=df(pca.components_.T,index=X.columns)
pca_df.columns=['PC1','PC2','PC3','PC4','PC5','PC6','PC7']
pca_df

In [ ]:
Here We noticed that 7 PCs are accounting for 95% of variation in the data.
Hence we will choose 7 components for our data pcs.